<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{curr_restaurant.name}}">
  <ion-content class="padding">
    <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->
    <p>
      <button id="join" ng-click="join()">Join</button>
      <button id="wait" ng-click="wait()">Wait</button>
      <p>Blah blah</p>
      {{curr_restaurant.rating}}
    </p>
  </ion-content>
</ion-view>
