<ion-view view-title="Dining-Time">
  <ion-content>
    <div class="card">
      <div class="item item-divider text-center">
        When do you wanna eat?
      </div>
        <div class="item item-divider">
          From
        </div>
        <div class="item item-text-wrap">
          <ionic-timepicker input-obj="timePickerObjectFrom">
            <button class="button button-block button-positive overflowShow">
              <standard-time-meridian etime='timePickerObjectFrom.inputEpochTime'></standard-time-meridian>
            </button>
          </ionic-timepicker>
        </div>
        <div class="item item-divider">
          To
        </div>
        <div class="item item-text-wrap">
          <ionic-timepicker input-obj="timePickerObjectTo">
            <button class="button button-block button-positive overflowShow">
              <standard-time-meridian etime='timePickerObjectTo.inputEpochTime'></standard-time-meridian>
            </button>
          </ionic-timepicker>
        </div>
        <div class="item item-divider">
          <button class="button button-block button-balanced" ng-click="setDiningTime(timePickerObjectFrom.inputEpochTime, timePickerObjectTo.inputEpochTime)">
            Set
          </button>
        </div>
      </div>
  </ion-content>
</ion-view>
