<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{rName}}">
  <ion-content class="padding" style="text-align: center;">
    <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->

    <button class="button button-block button-positive" style="font-size: 20px;">
      Would you like to eat at
      <br>
      {{rName}}?
      <br>
      {{rAddr}}
      <br>
      Rating: {{rRating}}/5
      <br>
      Cost: {{rPrice}}/4 $'s
    </button>

    <button id="join" class="button button-block button-balanced" ng-click="join()">
      Join
    </button>

    <button id="wait" class="button button-block button-balanced" ng-click="wait()">
      Wait
    </button>
    
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                collection-repeat="user in users_waiting"
                type="item-text-wrap">
          <h2>{{user}}</h2>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
