<ion-view view-title="Sign-In">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding" ng-controller="ToastCtrl">
      <button class="button button-block button-balanced" ng-click="toastLogIn(user)">
        Sign-In
      </button>
      <p class="text-center">
        <a href="#/register" style="text-decoration: none; color: #33CD5F;">Register</a>
      </p>
    </div>
  </ion-content>
</ion-view>
