<ion-view view-title="Sign-In">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        Sign-In
      </button>
      <p class="text-center">
        <a href="#/register">Register</a>
      </p>
    </div>

    <div ng-controller="ToastCtrl">
      <button ng-click="showToast()">button</button>
      <button ng-click="toastLogIn(user)">try to sign in</button>
    </div>
  </ion-content>

  
</ion-view>
