<ion-view view-title="Status" class="tabView" cache-view="false">
  <ion-content class="padding">

    <div style="text-align: center;">
      <h2 class="" style="color: #00ccff;">
        Welcome to Meal Mate
      </h2>
    </div>

    <div style="text-align: center;">
      <div ng-repeat="update in updates" class="list status-item3">
        {{update}}
      </div>
    </div>

    <div class="card" ng-if="restaurants.length!=0 && isWaiting === 'yes'">
      <div class="item item-divider item-button-right">
        You are waiting at..
        <!--<button class="button button-assertive" ng-click="deleteAll()">
          Delete All
        </button>-->
      </div>
      <div class="item item-text-wrap">
        <div class="card">

          <div class="list animated status-item2" ng-repeat="rest in restaurants">

            <div class="item item-divider item-button-right">
              {{rest.get("name")}}
              <button class="button" ng-click="delete(rest.id)">
                <i class="icon ion-ios-trash"></i>
              </button>
            </div>

            <a class="item" href="#">
              {{rest.get("address")}}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-if="isWaiting !== 'yes'">

      <div class="item item-divider item-button-right">
        Your Meal Mate is <strong>{{match.get("username")}}</strong>
      </div>
        <div class="list card">

          <div class="item">
            <span style="float: left">
              Age
            </span>
            <span style="float: right">
              {{match.get("age")}}
            </span>
          </div>
          <div class="item">
            <span style="float: left">
              Interests
            </span>
            <span style="float: right">
              {{match.get("interests")}}
            </span>
        </div>

        <div class="item">
          <span style="float: left">
            Profile Description
          </span>
          <br>
          <div style="overflow-x: visible">
            <p>
              {{match.get("description")}}
            </p>
          </div>
        </div>
        <div class="item" style="text-align: center;" ng-click="chat()">
          Chat
        </div>
      </div>

    <script>
    </script>

  </ion-content>



</ion-view>
