<ion-view view-title="Status" class="tabView" cache-view="false">
  <ion-content class="padding">

    <div style="text-align: center;">
      <h2 class="" style="color: #00ccff;">
        Welcome to Meal Mate
      </h2>
    </div>

<div class="card" ng-if="restaurants.length!=0">
  <div class="item item-divider">
    You are waiting at..
  </div>
  <div class="item item-text-wrap">
    <div class="card">

      <div class="list status-item2" ng-repeat="rest in restaurants">

        <div class="item item-divider">
          {{rest.get("name")}}
        </div>

        <a class="item" href="#">
          {{rest.get("address")}}
        </a>
      </div>
    </div>
  </div>
</div>

<!-- You're currently matched with -->
<div id="waiting" class="card" ng-if="restaurants.length!=0">
  <div class="item item-divider">
    Your MealMate is <strong>{{match}}</strong>
  </div>
</div>

<div style="text-align: center;">
  <div ng-repeat="update in updates" class="list">
    {{update}}
  </div>
</div>
<script>
</script>

</ion-content>



</ion-view>
