<ion-view view-title="Account" class="tabView">
  <ion-content>
    <div class="list card">
      <div class="item item-image">
        <img src="http://cte.tamu.edu/getattachment/Our-Impact-(2)/Our-Impact-(3)/Our-Impact-(21)/temporary-profile-placeholder.jpg.aspx">

        </img>
      </div>

      <div class="item">
        <span style="float: left">
          Name
        </span>
        <span style="float: right">
          {{username}}
        </span>
      </div>
      <div class="item">
        <span style="float: left">
          Age
        </span>
        <span style="float: right">
          {{age}}
        </span>
      </div>
      <div class="item">
        <span style="float: left">
          Profile Description
        </span>
        <br>
        <div style="overflow-x: visible">
          <p>
            {{description}}
          </p>
        </div>
      </div>
      <div class="item">
        <span style="float: left">
          Interests
        </span>
        <span style="float: right">
          {{interests}}
        </span>
      </div>
      <div class="item">
        <span style="float: left">
          Waiting?
        </span>
        <span style="float: right">
          {{isWaiting}}
        </span>
      </div>
      <div class="item" style="text-align: center;" ng-click="chat()">
        Chat
      </div>
      <div class="item" style="text-align: center;" ng-click="setdiningtime()">
        Set Dining Time
      </div>
      <div class="item" style="text-align: center;" ng-click="logOut()">
        Logout
      </div>

    </div>
  </ion-content>
</ion-view>
