<ion-view view-title="Status" class="tabView" cache-view="false">
  <ion-content class="padding">
    <h2 class="animated status-item" style="color: #00ccff;">
      Welcome to Meal Mate
    </h2>

    <div ng-repeat="update in updates" class="status-item card">
      {{update}}
    </div>
    <!--
    <div id="status" class="animated fadeInLeft">
    No one is currently matched with you
  </div>

  <div id="second" class="animated fadeInRight">
  Click on restaurants if you are interested in eating with someone
</div>
-->
<div class="card">
  <div class="item item-divider">
    You are waiting at..
  </div>
  <ul class="list">
    <li class="item status-item" ng-repeat="rest in restaurants">
      {{rest.get("name")}}
    </li>
  </ul>
</div>
<script>

</script>

</ion-content>



</ion-view>
